<div class="container__big-card">
    <div class="big-card__photo">
        <img 
            src="https://wallpapercave.com/wp/wp5722053.png" 
            alt=""
            height="auto"                       
            srcset="">
    </div>
    <div class="big-card__title">
        <h1> <a href="">Saiu a nova versão do Angular</a></h1>

    </div>
    <div class="big-card__description">
        <p>
            <a href="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos mollitia libero explicabo minus vitae oluptatibus suscipit asperiores corporis pariatur dolorum aut maiores quasi quaerat assumenda eveniet repellendus sequi, voluptate consequatur!
            </a>
        </p>

    </div>
</div>

