<div class="container__small-card">
    <div class="container__small-card-content">
        
        <div class="small-card__photo">
            <img 
            src="https://miro.medium.com/v2/resize:fit:720/format:webp/0*LSNoSU-BTMTfpgZr" 
            alt=""
            height="auto"                       
            srcset="">
        </div>

        <div class="small-card__title">
            <span>Sobre framework</span>
            <h2> <a href="">Saiu a nova versão do Angular</a></h2>                
        </div>
    </div>    

    <div class="container__small-card__separator">        
        <hr>
        <br>   
    </div>   
</div>


