.container__content{
    width: 100%px;
    height: 700px;

    margin-top: 20px;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.content__description {
    margin-top: 20px;
}

.content__description > p{
    width: 500px;
    color: grey;
}

.content__cover > img{    
    border-radius: 5px;
    width: 500px;
    min-width: 500px;
    height: 300px;
}
