<app-menu-title></app-menu-title>

<div class="container__articles">
   <div class="articles__main">

    <app-big-card
    Id="1"
    photoCover="https://wallpapercave.com/wp/wp5722053.png"
    cardTitle="NOVO ANGULAR A VISTA!"
    cardDescription="Angular é um framework de código aberto desenvolvido pelo Google para a criação de aplicativos dinâmicos e interativos da web."      
    >
   </app-big-card>

   </div>
   <div class="articles__others">
    <app-small-card
    Id="2"
    photoCover="https://miro.medium.com/v2/resize:fit:720/format:webp/0*LSNoSU-BTMTfpgZr"
    cardSpan="Framework"
    cardTitle="Novo Angular muito rápida"
    >
   </app-small-card>
    <app-small-card
    Id="3"
    photoCover="https://img.freepik.com/vetores-gratis/conceito-de-recrutamento_23-2148628411.jpg?size=626&ext=jpg&ga=GA1.1.1448711260.1706313600&semt=ais"
    cardSpan="Oportunidade"
    cardTitle="BigTechs contratando"
    >
   </app-small-card>
    <app-small-card
    Id="4"
    photoCover="https://hermes.dio.me/articles/cover/1b06a62a-a94e-4163-9ffa-620c59144565.jpg"
    cardSpan="Educação"
    cardTitle="Dio - bootcamp com foco em Angular"
    >
   </app-small-card>   
   </div>
</div>


